.forecast-card {
    background-color: var(--stormee-grey);
    border-radius: 30px;
    padding: 1rem 2rem;
    height: 18rem;
}

.todays-forecast-card {
    background: linear-gradient(0deg, var(--stormee-sky-blue) 78%, #81beec 78%);
    width: 18rem;
    color: var(--stormee-darkest-black);
}

.todays-forecast-card .forecast-date {
    display: flex;
    justify-content: space-between;
}

.todays-forecast-card hr {
    display: none;
}

.todays-forecast-card {
    position: relative;
}

.todays-forecast-card .forecast-icon {
    position: absolute;
    right: 15%;
    bottom: 30%;
    font-size: 5rem !important;
}

.todays-forecast-card .forecast-temp {
    font-size: 3.5rem !important;
    padding-top: 1rem;
}

.todays-forecast-data {
    font-size: .9rem !important;
}

.forecast-icon {
    width: 3.5rem;
}

.todays-forecast-card .forecast-icon {
    width: 6.5rem;
}