.forecast-card {
    background-color: var(--stormee-grey);
    border-radius: 30px;
    padding: 1rem 2rem;
    height: 18rem;
}

.todays-forecast-card {
    background: linear-gradient(0deg, var(--stormee-sky-blue) 78%, #81beec 78%);
    width: 18rem;
    color: var(--stormee-darkest-black);
}

.todays-forecast-card .forecast-date {
    display: flex;
    justify-content: space-between;
}

.todays-forecast-card hr {
    display: none;
}

.todays-forecast-card {
    position: relative;
}

.todays-forecast-card .forecast-icon {
    position: absolute;
    right: 15%;
    bottom: 30%;
    width: 6.5rem;
}

.todays-forecast-card .forecast-temp {
    font-size: 3.5rem !important;
    padding-top: 1rem;
}

.todays-forecast-data {
    font-size: .9rem !important;
}

.forecast-icon {
    width: 3.5rem;
}

@media screen and (max-width: 700px) {
    .forecast-card-container {
        flex-direction: column;
        height: 48rem;
    }

    .forecast-card, .todays-forecast-card {
        width: 100%;
    }

    .forecast-card {
        flex-direction: row !important;
        justify-content: space-between !important;
        align-items: center;
        height: 5rem;
    }

    .todays-forecast-card {
        background: linear-gradient(0deg, var(--stormee-sky-blue) 70%, #81beec 70%);
        height: 12rem;
    }
    
    .forecast-icon {
        width: 2.5rem;
    }

    .todays-forecast-card .forecast-icon {
        width: 3.5rem;
        bottom: 15%;
        right: 36%;
    }

    .todays-forecast-card .forecast-date {
        position: absolute;
        left: 9%;
        top: 9%;
        width: 82%;
    }

    .todays-forecast-card .forecast-temp {
        position: absolute;
        right: 5%;
        bottom: 17%;
    }

    .todays-forecast-card .todays-forecast-data {
        position: absolute;
        left: 9%;
        bottom: 7%;
    }
}