@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --stormee-darkest-black: #111015;
  --stormee-grey: #1b1b1d;
  --stormee-light-grey: #323232;
  --stormee-lightest-grey: #f3f3f3;
  --stormee-white: #ffffff;
  --stormee-sky-blue: #93d0ff;
  --stormee-lavender: #d7c3ff;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--stormee-darkest-black);
  font-family: "Lexend", sans-serif;
  overflow: hidden;
}

.text-sky-blue {
  color: var(--stormee-sky-blue);
}

.text-lavender {
  color: var(--stormee-lavender);
}

@media screen and (max-width: 700px) {
  body {
    overflow: visible;
  }

  .App {
    height: 100% !important;
    margin-bottom: 2rem !important;
  }

  .forecast-precipitation,
  .map-cities {
    margin: 0 auto;
  }
}
